.buttons {
  color: white;
  fill: currentColor;
  display: inline-flex;
}

.previous {
  background-color: blue;
  margin-right: 40px;
  padding: 8px;
  width: 80px;
  height: auto;
  border-radius: 50%;
  cursor: pointer;
}

.next {
  background-color: blue;
  margin-left: 40px;
  padding: 8px;
  width: 80px;
  height: auto;
  border-radius: 50%;
  cursor: pointer;
  :hover{
    background-color: blue;
    opacity: 0.5;
  }
}
